<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="amqp"
		class="de.materna.cms.merkur.logback.LogbackAmqpAppender">
		<param name="host" value="192.168.50.190" />
		<param name="exchangeName" value="amq.topic" />
		<param name="charset" value="UTF-8" />
		<param name="applicationId" value="Generator" />
		<param name="routingKeyPattern" value="%X{applicationId}.%c.%p" />
		<param name="logMessagesPattern" value="%d [%t] %-5p %c{1.} - %m%n" />
		<param name="generateId" value="true" />
	</appender>

	<root level="warn">
		<appender-ref ref="amqp" />
	</root>

	<logger name="de.materna.cms" level="debug" />
	<logger name="org.springframework" level="info" />
	
</configuration>