<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%t] %-5p %c{1.} - %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="amqp" class="de.materna.cms.merkur.logback.LogbackAmqpAppender">
    <encoder>
      <pattern>%d [%t] %-5p %c{1.} - %m%n</pattern>
    </encoder>
  </appender>

	<root level="warn">
		<appender-ref ref="amqp" />
	</root>
	
	<logger name="de.materna.cms.merkur" level="debug"/>
	<logger name="org.springframework" level="info"/>
</configuration>