<div class="container-fluid">
  
  <div class="row-fluid">

    <!-- Konfiguration -->
    <div class="span4">

      <h1>Merkur</h1>
      <ol>
        <li>Quelle anpassen</li>
        <li>Log-Nachrichten abonnieren</li>
        <li>Filter definieren</li>
      </ol>

      <h2>Eingaben</h2>
      <form>
        <div class="control-group">
          <label class="control-label" for="messagesFilter">Filter</label>
          <div class="controls">
            <input class="span12" type="text" id="messagesFilter" ng-model="messagesFilter">
          </div>
        </div>        
      
        <div class="control-group">
          <label class="control-label" for="messagesSource">Quelle</label>
          <div class="controls">
            <input class="span12" type="text" id="messagesSource" ng-model="messagesSource" placeholder="App-ID.Logger">
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" type="button" ng-click="subscribe()">Verbinden</button>
          </div>
        </div>
      </form>

      <h2>Abonnements</h2>
      <ul class="abos unstyled" ng-show="hasLogSubscriptions()">
        <li ng-repeat="logSubscription in logSubscriptions">
          <a class="btn btn-danger span12" ng-click="unsubscribe(logSubscription)">
            <i class="icon-trash"></i>
            {{logSubscription.source}}
          </a> 
        </li>
      </ul> 
      <p ng-show="!hasLogSubscriptions()">Keine Abonnements</p>

    </div>

    <!-- Log-Nachrichten -->
    <div class="span8">
      <ul class="unstyled">
        <li ng-repeat="logMessage in logMessages | limitTo:messagesMaxEntriesShown">{{logMessage}}</li>
      </ul>
    </div>

  </div>
  
</div>
