$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

$bgColorBright1: #FFFFFF;
$bgColorBright2: #F1F1F1;
$bgColorBright3: #F7EED5;

$bgColorDark1: #464646;
$bgColorDark2: #2E2E2E;
$bgColorDark3: #000000;

/* Eigenes (S)CSS */
html, body {
  margin: 20px;
}

body {
    background: $bgColorBright1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.abos a {
  margin-bottom: 10px;
}

.scroll-pane {
  height: 600px;
}

.configuration,
.notifications,
.logmessages {
  margin: 20px 0;
  padding: 20px;
  background: $bgColorBright1;
  @include border-radius(10px);
  border: 2px solid $bgColorDark1;
}

.configuration form {
  margin-bottom: 0;
}

.notifications ul {
  margin: 0;

  .alert {
    margin: 3px 0;
  }

}

/* jScrollPane */

.jspDrag
{
  background:  #ddd;
}

.jspTrack .jspActive,
.jspTrack .jspHover,
.jspDrag:hover
{
  background: #eee;
}